@tailwind base;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background: #242424;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(101, 101, 101);
  border-radius: 14px;
  border: 3px solid #242424;
}

@tailwind components;
@tailwind utilities;
